

{% load bootstrap3 %}

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block content %}

    <h1>New comment</h1>
    <div class="col-xs-12 col-sm-6">
    <form method="POST" class="post-form">{% csrf_token %}
        <!--{{ form.as_p }}-->
        {% bootstrap_form form %}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
    </div>
{% endblock %}
