{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}
    {% if choice.location %}
      &nbsp;&nbsp;{{choice.location}}
    {% endif %}
    </label><br/>
{% endfor %}
<input type="submit" value="Vote" /><br/>
</form>
<hr/>
<a href="{% url 'polls:post' question.id %}"  class="btn btn-outline-info active" role="button">Add comment</a>
{% for comment in all_comment_list %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}
