{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% csrf_token %}
<div class="row kpx_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form class="kpx_loginForm" action="{% url 'polls:login' %}" autocomplete="off" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <hr/>
                    <div><label>username<input type="text", name="username"></label></div>
                    <label>password<input type="password", name="password"></label>
                    {% buttons %}
                        <button type="submit" class="btn btn-lg btn-outline-primary btn-block">
                          <i class="fa fa-sign-in"></i>
                          Login
                        </button>
                    {% endbuttons %}
                </form>
            </div>
</div>
